<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<?define ProductName="MtApi5" ?>
	<?define ProductPathNative="..\build\products\$(var.Configuration)\"?>
	<?define PlatformSystemFolder = "System64Folder" ?>
	<?define ProductVersion=!(bind.FileVersion.MtApi5.dll) ?>
	<?define Manufacturer="DW"?>
	<?define ProductPath="..\build\products\$(var.Configuration)\"?>

	<Package Name="$(var.ProductName) $(var.ProductVersion)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="d72d346e-e6f7-4c23-85c6-1c42b3175599" InstallerVersion="200">
		<WixVariable Id="WixUILicenseRtf" Value="..\LICENSE.rtf" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
		<Feature Id="MtApi5" Title="$(var.ProductName)" Level="1">
			<ComponentGroupRef Id="MtApi5Components" />
		</Feature>
		<Feature Id="MT5Connector" Title="MT5 Connector" Level="1">
			<ComponentGroupRef Id="MT5ConnectorComponents" />
		</Feature>
		<ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
	</Package>

	<Fragment>
		<StandardDirectory Id="ProgramFiles64Folder">
			<Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
				<Directory Id="ExpertFolder" Name="Experts"/>
				<Directory Id="GAC" Name="GAC"/>
			</Directory>
		</StandardDirectory>
		<StandardDirectory Id="System64Folder"/>
		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
		</StandardDirectory>
	</Fragment>

    <Fragment>
        <ComponentGroup Id="MtApi5Components">

            <Component Id="MtApi5Dll" Directory="INSTALLFOLDER">
                <File Id="MtApi5.dll" Name="MtApi5.dll" KeyPath="yes"
                    Source="$(var.ProductPath)MtApi5.dll" />

                <RegistryKey Root="HKLM"
                    Key="Software\Microsoft\.NetFramework\v4.0.30319\AssemblyFoldersEx\$(var.ProductName)">
					<RegistryValue Type="string" Value="[INSTALLFOLDER]"/>
                </RegistryKey>

            </Component>

            <Component Id="MtApiServiceNetCoreDll" Directory="INSTALLFOLDER">
                <File Id="MtApiServiceNetCore.dll" Name="MtApiServiceNetCore.dll" KeyPath="yes"
                    Source="$(var.ProductPath)MtApiServiceNetCore.dll"/>
            </Component>

            <Component Id="MtApi5Expert" Directory="ExpertFolder">
                <File Id="MtApi5.ex5" Name="MtApi5.ex5" KeyPath="yes"
                      Source="..\mq5\MtApi5.ex5" />
            </Component>

            <Component Id="AppShortcutConnMgr" Guid="*" Directory="ApplicationProgramsFolder">
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>

        </ComponentGroup>

        <ComponentGroup Id="MT5ConnectorComponents">

            <Component Id="ConnectionProfileRegistryKey" Guid="*" Directory="INSTALLFOLDER">
                <RegistryKey Root="HKCU"
                             Key="Software\MtApi\ConnectionProfiles\Local">
                    <RegistryValue Type="string" Name="Host" Value=""/>
                    <RegistryValue Type="integer" Name="Port" Value="8222" KeyPath="yes"/>
                </RegistryKey>
            </Component>

            <Component Id="MTApiServiceDllGAC" Guid="6CD24D64-7DA1-4015-A5B3-B17C2488998C" Directory="GAC">
                <File Id="MTApiService.dll" Name="MTApiService.dll" KeyPath="yes"
                    Source="$(var.ProductPath)MTApiService.dll" Checksum="yes"
                    Assembly=".net" AssemblyManifest="MTApiService.dll" Vital="yes" />
            </Component>

            <Component Id="MT5ConnectorDll" Directory="$(var.PlatformSystemFolder)" Bitness="always64">
                <File Id="MT5Connector5.dll" Name="MT5Connector.dll" KeyPath="yes"
                      Source="$(var.ProductPathNative)MT5Connector.dll" />
            </Component>

        </ComponentGroup>
    </Fragment>
</Wix>